---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-pve-exporter
  namespace: {{ prometheus_pve_exporter_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-pve-exporter
  template:
    metadata:
      labels:
        app: prometheus-pve-exporter
    spec:
      containers:
      - name: prometheus-pve-exporter
        image: {{ prometheus_pve_exporter_image_repo }}:{{ prometheus_pve_exporter_image_tag }}
        ports:
        - containerPort: 9221
        volumeMounts:
        - name: config
          mountPath: /config/pve.yml
          readOnly: true
          subPath: pve.yml
      volumes:
      - name: config
        configMap:
          defaultMode: 0600
          name: prometheus-pve-exporter-config
